/*utils for Vertical-align - MIDDLE*/
.verticalAlign() {
  &:before {
    display: inline-block;
    height: 100%;
    content: "";
    font-size: 0;
    vertical-align: middle;
  }
}

/*Utils for simulate multi-lines text // text-align centre*/

.textAlignCentr() {
  &:after {
    display: inline-block;
    content: "";
    font-size: 0;
    width: 100%;
  }
}

/*Styles text, @fz:font-size @fw:font-wight*/
.styleText(@fz,@fw) {
  font-size: @fz;
  font-family: 'Roboto', sans-serif;
  font-weight: @fw;
}