<!--@@master = components/master.tmpl.html -->
<!--@@block = content-->
<div class="about">
    <div class="container-fluid about-container">
        <div class="row about-container-row">
            <div class="col-lg-6 col-md-6 col-xm-6 col-xs-12 about-container-row-col">0
                <div class="about-container-row-col-block1">
                    <div class="about-container-row-col-block1-head">
                        <img src="https://picsum.photos/721/302" alt="..." class="about-container-row-col-block1-head-pic">
                    </div>
                    <div class="container-fluid about-container-row-col-block1-subCont">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="about-container-row-col-block1-subCont-headBlock">Who We Are</h4>
                                <p class="text-muted about-container-row-col-block1-subCont-text">
                                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.

                                    <br><br>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid about-container-row-col-block1-subCont">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="about-container-row-col-block1-ourStaff-headBlock">Our Staff</h4>
                                <div class="container-fluid about-container-row-col-block1-ourStaff-images">
                                    <div class="row">
                                        <div class="col-xs-4 container-fluid about-container-row-col-block1-ourStaff-images-block">
                                            <div class="helperHover">
                                                <img src="https://picsum.photos/227/180" alt="" class="about-container-row-col-block1-ourStaff-images-block-pic">
                                                <div class="row about-container-row-col-block1-ourStaff-images-block-hoverBlock">
                                                    <h5 class="about-container-row-col-block1-ourStaff-images-block-hoverBlock-title">
                                                        John Smith
                                                    </h5>
                                                    <p class="about-container-row-col-block1-ourStaff-images-block-hoverBlock-text">
                                                        Web Developer
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 container-fluid about-container-row-col-block1-ourStaff-images-block">
                                            <div class="helperHover">
                                                <img src="https://picsum.photos/227/180" alt="" class="about-container-row-col-block1-ourStaff-images-block-pic">
                                                <div class="row about-container-row-col-block1-ourStaff-images-block-hoverBlock">
                                                    <h5 class="about-container-row-col-block1-ourStaff-images-block-hoverBlock-title">
                                                        John Smith
                                                    </h5>
                                                    <p class="about-container-row-col-block1-ourStaff-images-block-hoverBlock-text">
                                                        Web Developer
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 container-fluid about-container-row-col-block1-ourStaff-images-block">
                                            <div class="helperHover">
                                                <img src="https://picsum.photos/227/180" alt="" class="about-container-row-col-block1-ourStaff-images-block-pic">
                                                <div class="row about-container-row-col-block1-ourStaff-images-block-hoverBlock">
                                                    <h5 class="about-container-row-col-block1-ourStaff-images-block-hoverBlock-title">
                                                        John Smith
                                                    </h5>
                                                    <p class="about-container-row-col-block1-ourStaff-images-block-hoverBlock-text">
                                                        Web Developer
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 container-fluid about-container-row-col-block1-ourStaff-images-block">
                                            <div class="helperHover">
                                                <img src="https://picsum.photos/227/180" alt="" class="about-container-row-col-block1-ourStaff-images-block-pic">
                                                <div class="row about-container-row-col-block1-ourStaff-images-block-hoverBlock">
                                                    <h5 class="about-container-row-col-block1-ourStaff-images-block-hoverBlock-title">
                                                        John Smith
                                                    </h5>
                                                    <p class="about-container-row-col-block1-ourStaff-images-block-hoverBlock-text">
                                                        Web Developer
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 container-fluid about-container-row-col-block1-ourStaff-images-block">
                                            <div class="helperHover">
                                                <img src="https://picsum.photos/227/180" alt="" class="about-container-row-col-block1-ourStaff-images-block-pic">
                                                <div class="row about-container-row-col-block1-ourStaff-images-block-hoverBlock">
                                                    <h5 class="about-container-row-col-block1-ourStaff-images-block-hoverBlock-title">
                                                        John Smith
                                                    </h5>
                                                    <p class="about-container-row-col-block1-ourStaff-images-block-hoverBlock-text">
                                                        Web Developer
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 container-fluid about-container-row-col-block1-ourStaff-images-block">
                                            <div class="helperHover">
                                                <img src="https://picsum.photos/227/180" alt="" class="about-container-row-col-block1-ourStaff-images-block-pic">
                                                <div class="row about-container-row-col-block1-ourStaff-images-block-you">
                                                    <h5 class="about-container-row-col-block1-ourStaff-images-block-you-title">
                                                        you
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-block1
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xm-6 col-xs-12 about-container-row-col">
                <div class="about-container-row-col-block2">
                    <div class="about-container-row-col-block2-info">
                        <h4 class="about-container-row-col-block2-info-headBlock">Our skills</h4>
                        <p class="text-muted about-container-row-col-block2-info-text">
                            Website Design
                        </p>
                        <div class="progress">
                            <div class="progress-bar mainProgress" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%;">
                                89%
                            </div>
                        </div>
                        <p class="text-muted about-container-row-col-block2-info-text">
                            Website Development
                        </p>
                        <div class="progress">
                            <div class="progress-bar mainProgress" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100" style="width: 97%;">
                                97%
                            </div>
                        </div>
                        <p class="text-muted about-container-row-col-block2-info-text">
                            Plugins
                        </p>
                        <div class="progress">
                            <div class="progress-bar mainProgress" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                85%
                            </div>
                        </div>
                        <p class="text-muted about-container-row-col-block2-info-text">
                            Front end
                        </p>
                        <div class="progress">
                            <div class="progress-bar mainProgress" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                75%
                            </div>
                        </div>
                    </div>
                    <div class="about-container-row-col-block2-testimonials">
                        <h4 class="about-container-row-col-block2-testimonials-headBlock">Testimonials</h4>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="https://picsum.photos/80/80" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Collis Ta’eed - CEO at Envato</h4>
                            </div>
                        </div>
                    </div>
                    <div class="about-container-row-col-block2-services">
                        <h4 class="about-container-row-col-block2-services-headBlock">Services</h4>
                        <ul>
                            <li>
                                <p class="text-muted about-container-row-col-block2-services-text">
                                    Web Design
                                </p>
                            </li>
                            <li>
                                <p class="text-muted about-container-row-col-block2-services-text">
                                    Photography
                                </p>
                            </li>
                            <li>
                                <p class="text-muted about-container-row-col-block2-services-text">
                                    Plugin Development
                                </p>
                            </li>
                            <li>
                                <p class="text-muted about-container-row-col-block2-services-text">
                                    Front-end
                                </p>
                            </li>
                            <li>
                                <p class="text-muted about-container-row-col-block2-services-text">
                                    Design from Scratch
                                </p>
                            </li>
                            <li>
                                <p class="text-muted about-container-row-col-block2-services-text">
                                    Website Maintenance
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--@@close-->