<!--@@master = components/master.tmpl.html -->
<!--@@block = content-->
<!--home-row-col grid-item-->
<div class="blog">
    <div class="contactInfo">
        <div class="contactInfo-target">
            <div class="contactInfo-target-wrapp">
                <span>i</span>
            </div>
        </div>
        <div class="contactInfo-contact">
            <p class="contactInfo-contact-item"><span>📞</span>9930 1234 5679</p>
            <p class="contactInfo-contact-item"><span>📧</span>contact@domain.com</p>
            <p class="contactInfo-contact-item"><span>🏠</span>street address example</p>
        </div>
    </div>
    <a class="blog-olderButt">Older post</a>
    <div class="blog-container">
        <div class="blog-container-col blog-col_1">
            <article data-number="1" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-slider">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="https://loremflickr.com/294/230" alt="...">
                            </div>
                            <div class="item">
                                <img src="https://loremflickr.com/294/230" alt="...">
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="blog-container-col-block-desc">
                    <h4 class="blog-container-col-block-desc-title">
                        Gallery Post Example
                    </h4>
                    <p class="blog-container-col-block-desc-text">
                        A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                    </p>
                </div>
                <div class="blog-container-col-block-info">
                        <div class="blog-container-col-block-info-comment">
                            <span class="glyphicon glyphicon-align-left"></span><span> 3 comments</span>
                        </div>
                        <div class="blog-container-col-block-info-date">
                            <span class="glyphicon glyphicon-calendar"></span><span> Dec 19, 2013</span>
                        </div>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="6" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-simpleImg">
                    <img src="https://loremflickr.com/294/262" alt="" class="blog-container-col-block-simpleImg-pic">
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="11" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-anotherPost">
                    <p class="blog-container-col-block-anotherPost-text">
                        Another Post where you can  put a link to a specific website
                        <a href="#" class="blog-container-col-block-anotherPost-text-link">http://www.themeforest.net</a>
                    </p>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="http://www.themeforest.net" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="16" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-simpleImg">
                    <img src="https://loremflickr.com/294/141" alt="" class="blog-container-col-block-simpleImg-pic">
                </div>
                <div class="blog-container-col-block-desc">
                    <h4 class="blog-container-col-block-desc-title">
                        Gallery Post Example
                    </h4>
                    <p class="blog-container-col-block-desc-text">
                        A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                    </p>
                </div>
                <div class="blog-container-col-block-info">
                    <div class="blog-container-col-block-info-comment">
                        <span class="glyphicon glyphicon-align-left"></span><span> 3 comments</span>
                    </div>
                    <div class="blog-container-col-block-info-date">
                        <span class="glyphicon glyphicon-calendar"></span><span> Dec 19, 2013</span>
                    </div>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="21" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-simpleImg">
                    <img src="https://loremflickr.com/294/316" alt="" class="blog-container-col-block-simpleImg-pic">
                </div>
                <div class="blog-container-col-block-desc">
                    <h4 class="blog-container-col-block-desc-title">
                        Gallery Post Example
                    </h4>
                    <p class="blog-container-col-block-desc-text">
                        A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                    </p>
                </div>
                <div class="blog-container-col-block-info">
                    <div class="blog-container-col-block-info-comment">
                        <span class="glyphicon glyphicon-align-left"></span><span> 3 comments</span>
                    </div>
                    <div class="blog-container-col-block-info-date">
                        <span class="glyphicon glyphicon-calendar"></span><span> Dec 19, 2013</span>
                    </div>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
        </div>
        <div class="blog-container-col blog-col_2">
            <article data-number="2" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-anotherPost">
                    <p class="blog-container-col-block-anotherPost-text">
                        Another Post where you can  put a link to a specific website
                        <a href="#" class="blog-container-col-block-anotherPost-text-link">http://www.themeforest.net</a>
                    </p>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="http://www.themeforest.net" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="7" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/DRETr3nybik" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="blog-container-col-block-desc">
                    <h4 class="blog-container-col-block-desc-title">
                        Self-hosted video post
                    </h4>
                    <p class="blog-container-col-block-desc-text">
                        A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                    </p>
                </div>
                <div class="blog-container-col-block-info">
                    <div class="blog-container-col-block-info-comment">
                        <span class="glyphicon glyphicon-align-left"></span><span> 3 comments</span>
                    </div>
                    <div class="blog-container-col-block-info-date">
                        <span class="glyphicon glyphicon-calendar"></span><span> Dec 19, 2013</span>
                    </div>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="https://www.youtube.com/watch?v=DRETr3nybik&feature=youtu.be" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="12" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-simpleImg">
                    <img src="https://loremflickr.com/294/141" alt="" class="blog-container-col-block-simpleImg-pic">
                </div>
                <div class="blog-container-col-block-desc">
                    <h4 class="blog-container-col-block-desc-title">
                        Gallery Post Example
                    </h4>
                    <p class="blog-container-col-block-desc-text">
                        A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                    </p>
                </div>
                <div class="blog-container-col-block-info">
                    <div class="blog-container-col-block-info-comment">
                        <span class="glyphicon glyphicon-align-left"></span><span> 3 comments</span>
                    </div>
                    <div class="blog-container-col-block-info-date">
                        <span class="glyphicon glyphicon-calendar"></span><span> Dec 19, 2013</span>
                    </div>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="17" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-simpleImg">
                    <img src="https://loremflickr.com/294/141" alt="" class="blog-container-col-block-simpleImg-pic">
                </div>
                <div class="blog-container-col-block-desc">
                    <h4 class="blog-container-col-block-desc-title">
                        Gallery Post Example
                    </h4>
                    <p class="blog-container-col-block-desc-text">
                        A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                    </p>
                </div>
                <div class="blog-container-col-block-info">
                    <div class="blog-container-col-block-info-comment">
                        <span class="glyphicon glyphicon-align-left"></span><span> 3 comments</span>
                    </div>
                    <div class="blog-container-col-block-info-date">
                        <span class="glyphicon glyphicon-calendar"></span><span> Dec 19, 2013</span>
                    </div>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="22" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-simpleImg">
                    <img src="https://loremflickr.com/294/316" alt="" class="blog-container-col-block-simpleImg-pic">
                </div>
                <div class="blog-container-col-block-desc">
                    <h4 class="blog-container-col-block-desc-title">
                        Gallery Post Example
                    </h4>
                    <p class="blog-container-col-block-desc-text">
                        A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                    </p>
                </div>
                <div class="blog-container-col-block-info">
                    <div class="blog-container-col-block-info-comment">
                        <span class="glyphicon glyphicon-align-left"></span><span> 3 comments</span>
                    </div>
                    <div class="blog-container-col-block-info-date">
                        <span class="glyphicon glyphicon-calendar"></span><span> Dec 19, 2013</span>
                    </div>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
        </div>
        <div class="blog-container-col blog-col_3">
            <article data-number="3" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-simpleImg">
                    <img src="https://loremflickr.com/294/262" alt="" class="blog-container-col-block-simpleImg-pic">
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="8" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-simpleImg">
                    <img src="https://loremflickr.com/294/316" alt="" class="blog-container-col-block-simpleImg-pic">
                </div>
                <div class="blog-container-col-block-desc">
                    <h4 class="blog-container-col-block-desc-title">
                        Gallery Post Example
                    </h4>
                    <p class="blog-container-col-block-desc-text">
                        A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                    </p>
                </div>
                <div class="blog-container-col-block-info">
                    <div class="blog-container-col-block-info-comment">
                        <span class="glyphicon glyphicon-align-left"></span><span> 3 comments</span>
                    </div>
                    <div class="blog-container-col-block-info-date">
                        <span class="glyphicon glyphicon-calendar"></span><span> Dec 19, 2013</span>
                    </div>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="13" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-citation">
                    <p class="blog-container-col-block-citation-text">
                        Logic will get you from A to B. Imagination will take you every
                    </p>
                    <h4 class="blog-container-col-block-citation-title quotes">
                        <sub>"</sub>
                    </h4>
                    <h4 class="blog-container-col-block-citation-title">
                        Albert Einstein
                    </h4>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="18" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-simpleImg">
                    <img src="https://loremflickr.com/294/141" alt="" class="blog-container-col-block-simpleImg-pic">
                </div>
                <div class="blog-container-col-block-desc">
                    <h4 class="blog-container-col-block-desc-title">
                        Gallery Post Example
                    </h4>
                    <p class="blog-container-col-block-desc-text">
                        A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                    </p>
                </div>
                <div class="blog-container-col-block-info">
                    <div class="blog-container-col-block-info-comment">
                        <span class="glyphicon glyphicon-align-left"></span><span> 3 comments</span>
                    </div>
                    <div class="blog-container-col-block-info-date">
                        <span class="glyphicon glyphicon-calendar"></span><span> Dec 19, 2013</span>
                    </div>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="23" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-simpleImg">
                    <img src="https://loremflickr.com/294/316" alt="" class="blog-container-col-block-simpleImg-pic">
                </div>
                <div class="blog-container-col-block-desc">
                    <h4 class="blog-container-col-block-desc-title">
                        Gallery Post Example
                    </h4>
                    <p class="blog-container-col-block-desc-text">
                        A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                    </p>
                </div>
                <div class="blog-container-col-block-info">
                    <div class="blog-container-col-block-info-comment">
                        <span class="glyphicon glyphicon-align-left"></span><span> 3 comments</span>
                    </div>
                    <div class="blog-container-col-block-info-date">
                        <span class="glyphicon glyphicon-calendar"></span><span> Dec 19, 2013</span>
                    </div>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
        </div>
        <div class="blog-container-col blog-col_4">
            <article data-number="4" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-citation">
                    <p class="blog-container-col-block-citation-text">
                        Logic will get you from A to B. Imagination will take you every
                    </p>
                    <h4 class="blog-container-col-block-citation-title quotes">
                        <sub>"</sub>
                    </h4>
                    <h4 class="blog-container-col-block-citation-title">
                        Albert Einstein
                    </h4>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="9" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-simpleImg">
                    <img src="https://loremflickr.com/294/141" alt="" class="blog-container-col-block-simpleImg-pic">
                </div>
                <div class="blog-container-col-block-desc">
                    <h4 class="blog-container-col-block-desc-title">
                        Gallery Post Example
                    </h4>
                    <p class="blog-container-col-block-desc-text">
                        A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                    </p>
                </div>
                <div class="blog-container-col-block-info">
                    <div class="blog-container-col-block-info-comment">
                        <span class="glyphicon glyphicon-align-left"></span><span> 3 comments</span>
                    </div>
                    <div class="blog-container-col-block-info-date">
                        <span class="glyphicon glyphicon-calendar"></span><span> Dec 19, 2013</span>
                    </div>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="14" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/DRETr3nybik" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="blog-container-col-block-desc">
                    <h4 class="blog-container-col-block-desc-title">
                        Self-hosted video post
                    </h4>
                    <p class="blog-container-col-block-desc-text">
                        A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                    </p>
                </div>
                <div class="blog-container-col-block-info">
                    <div class="blog-container-col-block-info-comment">
                        <span class="glyphicon glyphicon-align-left"></span><span> 3 comments</span>
                    </div>
                    <div class="blog-container-col-block-info-date">
                        <span class="glyphicon glyphicon-calendar"></span><span> Dec 19, 2013</span>
                    </div>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="https://www.youtube.com/watch?v=DRETr3nybik&feature=youtu.be" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="19" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-simpleImg">
                    <img src="https://loremflickr.com/294/141" alt="" class="blog-container-col-block-simpleImg-pic">
                </div>
                <div class="blog-container-col-block-desc">
                    <h4 class="blog-container-col-block-desc-title">
                        Gallery Post Example
                    </h4>
                    <p class="blog-container-col-block-desc-text">
                        A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                    </p>
                </div>
                <div class="blog-container-col-block-info">
                    <div class="blog-container-col-block-info-comment">
                        <span class="glyphicon glyphicon-align-left"></span><span> 3 comments</span>
                    </div>
                    <div class="blog-container-col-block-info-date">
                        <span class="glyphicon glyphicon-calendar"></span><span> Dec 19, 2013</span>
                    </div>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="24" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-simpleImg">
                    <img src="https://loremflickr.com/294/316" alt="" class="blog-container-col-block-simpleImg-pic">
                </div>
                <div class="blog-container-col-block-desc">
                    <h4 class="blog-container-col-block-desc-title">
                        Gallery Post Example
                    </h4>
                    <p class="blog-container-col-block-desc-text">
                        A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                    </p>
                </div>
                <div class="blog-container-col-block-info">
                    <div class="blog-container-col-block-info-comment">
                        <span class="glyphicon glyphicon-align-left"></span><span> 3 comments</span>
                    </div>
                    <div class="blog-container-col-block-info-date">
                        <span class="glyphicon glyphicon-calendar"></span><span> Dec 19, 2013</span>
                    </div>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
        </div>
        <div class="blog-container-col blog-col_5">
            <article data-number="5" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-slider">
                    <div id="carousel_2" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="https://loremflickr.com/294/230" alt="...">
                            </div>
                            <div class="item">
                                <img src="https://loremflickr.com/294/230" alt="...">
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel_2" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel_2" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="blog-container-col-block-desc">
                    <h4 class="blog-container-col-block-desc-title">
                        Gallery Post Example
                    </h4>
                    <p class="blog-container-col-block-desc-text">
                        A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                    </p>
                </div>
                <div class="blog-container-col-block-info">
                    <div class="blog-container-col-block-info-comment">
                        <span class="glyphicon glyphicon-align-left"></span><span> 3 comments</span>
                    </div>
                    <div class="blog-container-col-block-info-date">
                        <span class="glyphicon glyphicon-calendar"></span><span> Dec 19, 2013</span>
                    </div>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="10" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-simpleImg">
                    <img src="https://loremflickr.com/294/141" alt="" class="blog-container-col-block-simpleImg-pic">
                </div>
                <div class="blog-container-col-block-desc">
                    <h4 class="blog-container-col-block-desc-title">
                        Gallery Post Example
                    </h4>
                    <p class="blog-container-col-block-desc-text">
                        A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                    </p>
                </div>
                <div class="blog-container-col-block-info">
                    <div class="blog-container-col-block-info-comment">
                        <span class="glyphicon glyphicon-align-left"></span><span> 3 comments</span>
                    </div>
                    <div class="blog-container-col-block-info-date">
                        <span class="glyphicon glyphicon-calendar"></span><span> Dec 19, 2013</span>
                    </div>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="15" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-simpleImg">
                    <img src="https://loremflickr.com/294/141" alt="" class="blog-container-col-block-simpleImg-pic">
                </div>
                <div class="blog-container-col-block-desc">
                    <h4 class="blog-container-col-block-desc-title">
                        Gallery Post Example
                    </h4>
                    <p class="blog-container-col-block-desc-text">
                        A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                    </p>
                </div>
                <div class="blog-container-col-block-info">
                    <div class="blog-container-col-block-info-comment">
                        <span class="glyphicon glyphicon-align-left"></span><span> 3 comments</span>
                    </div>
                    <div class="blog-container-col-block-info-date">
                        <span class="glyphicon glyphicon-calendar"></span><span> Dec 19, 2013</span>
                    </div>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
            <article data-number="20" class="olderArticle blog-container-col-block">
                <div class="blog-container-col-block-simpleImg">
                    <img src="https://loremflickr.com/294/316" alt="" class="blog-container-col-block-simpleImg-pic">
                </div>
                <div class="blog-container-col-block-desc">
                    <h4 class="blog-container-col-block-desc-title">
                        Gallery Post Example
                    </h4>
                    <p class="blog-container-col-block-desc-text">
                        A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist
                    </p>
                </div>
                <div class="blog-container-col-block-info">
                    <div class="blog-container-col-block-info-comment">
                        <span class="glyphicon glyphicon-align-left"></span><span> 3 comments</span>
                    </div>
                    <div class="blog-container-col-block-info-date">
                        <span class="glyphicon glyphicon-calendar"></span><span> Dec 19, 2013</span>
                    </div>
                </div>
                <div class="blog-container-col-block-hoverBlock">
                    <a href="#" target="_blank" class="blog-container-col-block-hoverBlock-link"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
            </article>
        </div>
    </div>
</div>
<!--@@close-->