<!--@@master = components/master.tmpl.html -->
<!--@@block = content-->
<!--home-row-col grid-item-->

<div class="home">
    <div class="contactInfo">
        <div class="contactInfo-target">
            <div class="contactInfo-target-wrapp">
                <span>i</span>
            </div>
        </div>
        <div class="contactInfo-contact">
            <p class="contactInfo-contact-item"><span>📞</span>9930 1234 5679</p>
            <p class="contactInfo-contact-item"><span>📧</span>contact@domain.com</p>
            <p class="contactInfo-contact-item"><span>🏠</span>street address example</p>
        </div>
    </div>
    <div class="hiddenElem">
        <a href="" class="home-row-col-link">
                <span class="home-row-col-link-contentWrap">
                    <span class="home-row-col-link-title">Cool App Design</span>
                    <span class="home-row-col-link-desc">development, mobile</span><br>
                    <span class="glyphicon glyphicon-arrow-right home-row-col-link-icon"></span>
                </span>
        </a>
        <img src="https://picsum.photos/405/311" alt="" class="home-row-col-pic">
    </div>
    <div class="home-row grid">
    </div>
</div>
<!--@@close-->