<!--@@master = components/master.tmpl.html -->
<!--@@block = content-->
<!--home-row-col grid-item-->
<div class="work">
    <div class="container-fluid work-container">
        <div class="row work-container-row">
            <div class="col-lg-6 col-md-6 col-xm-6 col-xs-12 work-container-row-col">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="https://picsum.photos/721/560" alt="...">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://picsum.photos/721/560" alt="...">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://picsum.photos/721/560" alt="...">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://picsum.photos/721/560" alt="...">
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                </div>
                <div class="container-fluid work-container-row-col-subCont">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="work-container-row-col-subCont-headBlock">Heavy Sand - Creative Photography</h4>
                            <p class="text-muted work-container-row-col-subCont-text">
                                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.

                                <br><br>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container-fluid work-container-row-col-subCont">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="work-container-row-col-related-headBlock">Related Projects</h4>
                            <div class="container-fluid work-container-row-col-related-images">
                                <div class="row">
                                    <div class="col-xs-4 work-container-row-col-related-images-block">
                                        <img src="https://picsum.photos/240/182" alt="" class="work-container-row-col-related-pic">
                                    </div>
                                    <div class="col-xs-4 work-container-row-col-related-images-block">
                                        <img src="https://picsum.photos/240/182" alt="" class="work-container-row-col-related-pic">
                                    </div>
                                    <div class="col-xs-4 work-container-row-col-related-images-block">
                                        <img src="https://picsum.photos/240/182" alt="" class="work-container-row-col-related-pic">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xm-6 col-xs-12 work-container-row-col">
                <div class="work-container-row-col-block2">
                    <div class="work-container-row-col-block2-info">
                        <h4 class="work-container-row-col-block2-info-headBlock">Project Info</h4>
                        <p class="text-muted work-container-row-col-block2-info-text">
                            <span>🙎</span>premiumlayers
                        </p>
                        <p class="text-muted work-container-row-col-block2-info-text">
                            <span>🖤</span>138 Likes
                        </p>
                        <p class="text-muted work-container-row-col-block2-info-text">
                            <span>📅</span>25 December, 2013
                        </p>
                        <p class="text-muted work-container-row-col-block2-info-text">
                            <span>♾️</span>4 Comments
                        </p>
                    </div>
                    <div class="work-container-row-col-block2-tags">
                        <h4 class="work-container-row-col-block2-tags-headBlock">Tags</h4>
                        <span class="label">web design</span>
                        <span class="label">photography</span>
                        <span class="label">development</span>
                        <span class="label">php</span>
                        <span class="label">ecommerce</span>
                        <span class="label">graphic</span>
                    </div>
                    <div class="work-container-row-col-block2-gallery">
                        <h4 class="work-container-row-col-block2-gallery-headBlock">Gallery</h4>
                        <div class="imageGallery1 work-container-row-col-block2-gallery-blockCont">
                            <a href="https://picsum.photos/478/378">
                                <img
                                        src="https://picsum.photos/78/78"
                                        alt=""
                                        class="work-container-row-col-block2-gallery-blockCont-pic"
                                >
                            </a>
                            <a href="https://picsum.photos/478/378">
                                <img
                                        src="https://picsum.photos/78/78"
                                        alt=""
                                        class="work-container-row-col-block2-gallery-blockCont-pic"
                                >
                            </a>
                            <a href="https://picsum.photos/478/378">
                                <img
                                        src="https://picsum.photos/78/78"
                                        alt=""
                                        class="work-container-row-col-block2-gallery-blockCont-pic"
                                >
                            </a>
                            <a href="https://picsum.photos/478/378">
                                <img
                                        src="https://picsum.photos/78/78"
                                        alt=""
                                        class="work-container-row-col-block2-gallery-blockCont-pic"
                                >
                            </a>
                            <a href="https://picsum.photos/478/378">
                                <img
                                        src="https://picsum.photos/78/78"
                                        alt=""
                                        class="work-container-row-col-block2-gallery-blockCont-pic"
                                >
                            </a>
                            <a href="https://picsum.photos/478/378">
                                <img
                                        src="https://picsum.photos/78/78"
                                        alt=""
                                        class="work-container-row-col-block2-gallery-blockCont-pic"
                                >
                            </a>
                            <a href="https://picsum.photos/478/378">
                                <img
                                        src="https://picsum.photos/78/78"
                                        alt=""
                                        class="work-container-row-col-block2-gallery-blockCont-pic"
                                >
                            </a>
                            <a href="https://picsum.photos/478/378">
                                <img
                                        src="https://picsum.photos/78/78"
                                        alt=""
                                        class="work-container-row-col-block2-gallery-blockCont-pic"
                                >
                            </a>
                            <a href="https://picsum.photos/478/378">
                                <img
                                        src="https://picsum.photos/78/78"
                                        alt=""
                                        class="work-container-row-col-block2-gallery-blockCont-pic"
                                >
                            </a>
                            <a href="https://picsum.photos/478/378">
                                <img
                                        src="https://picsum.photos/78/78"
                                        alt=""
                                        class="work-container-row-col-block2-gallery-blockCont-pic"
                                >
                            </a>
                            <a href="https://picsum.photos/478/378">
                                <img
                                        src="https://picsum.photos/78/78"
                                        alt=""
                                        class="work-container-row-col-block2-gallery-blockCont-pic"
                                >
                            </a>
                            <a href="https://picsum.photos/478/378">
                                <img
                                        src="https://picsum.photos/78/78"
                                        alt=""
                                        class="work-container-row-col-block2-gallery-blockCont-pic"
                                >
                            </a>
                        </div>
                    </div>
                    <div class="work-container-row-col-block2-features">
                        <h4 class="work-container-row-col-block2-features-headBlock">Project Features</h4>
                        <p class="text-muted work-container-row-col-block2-features-text">
                            <span class="glyphicon glyphicon-ok"></span>Responsive Layout
                        </p>
                        <p class="text-muted work-container-row-col-block2-features-text">
                            <span class="glyphicon glyphicon-ok"></span>Font Awesome Icons
                        </p>
                        <p class="text-muted work-container-row-col-block2-features-text">
                            <span class="glyphicon glyphicon-ok"></span>Clean & Commented
                        </p>
                        <p class="text-muted work-container-row-col-block2-features-text">
                            <span class="glyphicon glyphicon-ok"></span>Pixel perfect Design
                        </p>
                        <p class="text-muted work-container-row-col-block2-features-text">
                            <span class="glyphicon glyphicon-ok"></span>Highly Customizable
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--@@close-->