<div class="navBar">
    <div class="navBar-logo">
        <img src="/img/logo.png" alt="Kappe" class="navBar-logo-pic">
    </div>
    <ul class="navBar-menu">
        <li class="navBar-menu-item" id="home">
            <a href="index.html" class="navBar-menu-item-link">Home</a>
        </li>
        <li class="navBar-menu-item" id="work">
            <a href="work.html" class="navBar-menu-item-link">Work</a>
        </li>
        <li class="navBar-menu-item" id="about">
            <a href="about.html" class="navBar-menu-item-link">About</a>
        </li>
        <li class="navBar-menu-item" id="blog">
            <a href="blog.html" class="navBar-menu-item-link">Blog</a>
        </li>
        <li class="navBar-menu-item notReady" id="services">
            <a href="" class="navBar-menu-item-link">Services</a>
        </li>
        <li class="navBar-menu-item" id="contact">
            <a href="contact.html" class="navBar-menu-item-link">Contact</a>
        </li>
    </ul>
    <div class="navBar-filter">
        <div class="navBar-filter-head">
            <span class="navBar-filter-head-title">Filter</span>
            <img src="/img/filterPic.png" alt="filter" class="navBar-filter-head-pic">
        </div>
        <ul class="navBar-filter-list">
            <li class="navBar-filter-list-item">
                <a class="navBar-filter-list-item-butt isActiveFilter" id="allWorks">All Works</a>
            </li>
            <li class="navBar-filter-list-item">
                <a class="navBar-filter-list-item-butt" id="design">web design</a>
            </li>
            <li class="navBar-filter-list-item">
                <a class="navBar-filter-list-item-butt" id="illusrt">illustration</a>
            </li>
            <li class="navBar-filter-list-item">
                <a class="navBar-filter-list-item-butt" id="photo">photography</a>
            </li>
            <li class="navBar-filter-list-item">
                <a class="navBar-filter-list-item-butt" id="wall">wallpapers</a>
            </li>
            <li class="navBar-filter-list-item">
                <a class="navBar-filter-list-item-butt" id="brochures">brochures</a>
            </li>
        </ul>
    </div>
    <div class="navBar-contacts">
        <img src="/img/webicon-behance.png" alt="" class="navBar-contacts-pic">
        <img src="/img/webicon-flickr.png" alt="" class="navBar-contacts-pic">
        <img src="/img/webicon-googleplus.png" alt="" class="navBar-contacts-pic">
        <img src="/img/webicon-dribbble.png" alt="" class="navBar-contacts-pic">
        <img src="/img/webicon-pinterest.png" alt="" class="navBar-contacts-pic">
        <img src="/img/webicon-twitter.png" alt="" class="navBar-contacts-pic">
        <img src="/img/webicon-facebook.png" alt="" class="navBar-contacts-pic">

        <p class="navBar-contacts-copyright">
            © 2014 Kappe, All Rights Reserved
        </p>
    </div>
</div>